[run]
branch = True
source = src

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    raise NotImplemented
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    meerkat/datasets/*
    meerkat/ml/*
    setup.py